.launch{
    height: 180px;
    width: 750px;
    /* background: red; */
    display: flex;
    padding: 8px;
    box-shadow: 1px 1px 9px 1px darkgray;
    border-radius: 10px;
    /* margin-top: 50px !important; */
    /* margin-left: 50px; */
    cursor: pointer;
    margin: auto;
}
.launch img{
    height: 180px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 9px 1px darkgray;
}
.content{
    margin-left: 20px;
    width: 80%;
    color: cadetblue;
    font-size: 12px;
}
.content .info{
    display: flex;
}
.info h2{
    margin-left: 150px;
}
.content p{
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: 20px;
    color: grey;
}